#wp-admin-bar-wp-logo,
#wp-admin-bar-comments,
#wp-admin-bar-wpseo-menu { display: none; }

#login {
    width: 400px;
}

.login h1 a {
  /* height: 75px; */
  width: 100%;
  margin: 0 auto 25px;
  padding: 45px 0 0px;
  font-size: 24px;
  font-weight: 700;
  color: black;
  line-height: 1.3em;
  text-decoration: none;
  text-indent: 0;
  overflow: hidden;
  display: block;
  background-image: url('http://www.northeastern.edu/images/logo.png');
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: left;
}
